{% extends 'base.html.twig' %}
{% block title %}Ticket Journalier{% endblock %}

{% block body %}
    <h1>Ticket Journalier</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ ticket.Date.format('d/m/Y') }}</td>
            </tr> 
            <tr>
                <th>Montant</th>
                <td>{{ ticket.montant }}</td>
            </tr>
            <tr>
                <th>Indemnisation</th>
                <td>{{ ticket.indemnisation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('front_index') }}">Retourner sur votre profil</a>
        </li>
    </ul>
{% endblock %}
