<div id="footer">
    <div id="copyright">
        Yncrea Ouest - ISEN - {{ "now"|date("Y") }}
    </div>
    <div id="version">
        {# <div class="item">Version : {{appli_version}}</div> #}
        <div class="item">Version : A modifier</div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
